{% extends 'tracker/index.html' %}

{% load crispy_forms_tags %}
{% block title %}
        Edit Ninja Information
{% endblock title %}
{% block subtitle %}
    <h3>{{ninja.ninja_name|title}}</h3>
{% endblock subtitle %}
{% block form %}
{% comment %} <div class='row'>
    <div class='col-md-12'>
        <h2> Edit Ninja Information</h2>
        <h3>{{ninja.ninja_name|title}}</h3>
    </div>
</div>
<hr>
<br>
<div class='row'>
    <div class='col-md-8'>
        <div class="form-group">

        </div>
    </div>
</div> {% endcomment %}
            <form method="POST">
                {% csrf_token %}
                 
                {{ form|crispy }}

                <input class="btn btn-primary" type="submit" value="Update Info">
            </form>
{% endblock %}